.venv
.env
python_backend/.env
python_backend/venv/
python_backend/__pycache__/
agent/__pycache__/
agent/config/__pycache__/
agent/db/__pycache__/
agent/graph/__pycache__/
agent/plan/__pycache__/
agent/prompts/__pycache__/
agent/rag/__pycache__/
agent/tools/__pycache__/
data/*
