.venv
.env
agent/.env
agent/venv/
agent/__pycache__/
agent/config/__pycache__/
agent/db/__pycache__/
agent/graph/__pycache__/
agent/plan/__pycache__/
agent/prompts/__pycache__/
agent/rag/__pycache__/
agent/tools/__pycache__/
data/*

.DS_Store
*/__pycache__/*
AITrainer/Config/Info.plist

AITrainer.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
AITrainer.xcodeproj/xcshareddata/
AITrainer.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist