<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>AI Trainer</string>
	<key>CFBundleDisplayName</key>
	<string>AI Trainer</string>
	<key>CFBundleIdentifier</key>
	<string>com.Harry.AITrainer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>BackendBaseURL</key>
	<string>http://localhost:8000</string>
	<key>SupabaseURL</key>
	<string>https://fubkjshjbnlaqybvpnqy.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1Ymtqc2hqYm5sYXF5YnZwbnF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyNjA5NDIsImV4cCI6MjA4MzgzNjk0Mn0.fFt_iUhI0UCds3nX2YxynrCq0_LhD9xmTkjVOTeYoMw</string>
	<key>GIDClientID</key>
	<string>741977123745-1fdbj1u0egaltl71jn0bbrl2lct1p4pt.apps.googleusercontent.com</string>
	<key>OAuthRedirectURL</key>
	<string>com.googleusercontent.apps.741977123745-1fdbj1u0egaltl71jn0bbrl2lct1p4pt://login-callback</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.741977123745-1fdbj1u0egaltl71jn0bbrl2lct1p4pt</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>AI Trainer needs access to your health data to track your fitness progress and provide personalized recommendations.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>AI Trainer needs to update your health data to log workouts and track your fitness goals.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AI Trainer needs access to your location to find nearby gyms and fitness classes.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AI Trainer needs access to your location to find nearby gyms and fitness classes.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>youtube.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>youtube-nocookie.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
